<?xml version="1.0"?>
<launch>
    <node pkg="shape_completion_bridge" type="shape_completion_node" name="shape_completion_service" output="screen">
        <remap from="pc_in" to="/voxblox_node/surface_pointcloud"/>    
    </node>
    
      <node pkg="capsicum_superellipsoid_detector" type="fit_superellipsoids_service_node" name="capsicum_superellipsoid_fitter_server" output="screen" respawn="true">
    </node>

<include file="$(find capsicum_superellipsoid_detector)/launch/start_service_real.launch">
</include>

</launch>
