<?xml version="1.0"?>
<launch>
    <node pkg="shape_completion_bridge" type="shape_completion_node" name="shape_completion_service" prefix= "gdb -ex run --args" output="screen">
        <remap from="pc_in" to="/voxblox_node/surface_pointcloud"/>    
    </node>
    <include file="$(find capsicum_superellipsoid_detector)/launch/start_vpp_sim.launch" />
</launch>
